@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/** DISABLE TEXT SELECTION (SET ON BODY WHEN DRAGGING IS OCCURRING) **/
._jsPlumb_drag_select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none
}

/** PAGE STRUCTURE **/

.dropdown { 
  display:inline;
}

.dropdown-menu>li>a {
  width:80%;
  text-transform: uppercase;
  font-size:12px;
}
#headerWrapper {
	width:100%;
	background-color:white;
	position:fixed;
	top:0;left:0;
	z-index:100001;
	height:44px;
	padding:0;
	opacity:0.8;
}

.window:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; font-family: 'Open Sans'; font-size: 8pt; }

.aLabel {
  background-color:white; 
  padding:0.4em; 
  font:12px sans-serif; 
  color:#444;
  z-index:21;
  border:1px solid gray;
  opacity:0.8;
  filter:alpha(opacity=80);
  cursor: pointer;
}

._jsPlumb_endpoint_connected._jsPlumb_endpoint_full {
	opacity: 0.8;
}

.window {
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
    min-width:80px; 
    max-width:600px;
    min-height:80px; 

	text-align:center;
	z-index:20; position:absolute;
	background-color:#eeeeef;
	color:black;
	font-family:helvetica;
	padding-top:2em;
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	font-size:0.9em;
}

.flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
   -o-box-shadow: 2px 2px 19px #444;
   -webkit-box-shadow: 2px 2px 19px #444;
   -moz-box-shadow: 2px 2px 19px #444;
    opacity:0.6;
        filter:alpha(opacity=60);
}

.flowchart-demo .active {
        border:1px dotted green;
}
.flowchart-demo .hover {
        border:1px dotted red;
}

/*#flowchartWindow1 { top:34em;left:5em;}
#flowchartWindow2 { top:7em; left:36em;}
#flowchartWindow3 { top:27em;left:48em; }
#flowchartWindow4 { top:23em; left:22em;}*/
.flowchart-demo ._jsPlumb_connector { z-index:4; }
.flowchart-demo ._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel{ z-index:21;cursor:pointer; }

.flowchart-demo .aLabel {
        background-color:white; 
        padding:0.4em; 
        font:12px sans-serif; 
        color:#444;
        z-index:21;
        opacity:0.9;
        filter:alpha(opacity=90);
        cursor: pointer;
}


.flowchart-demo .aLabel._jsPlumb_hover {
        background-color: #F2F2F2;
}
