
#ticketscratch{
color: white; 
background-color:#2C7DEC;
height: 50px;
}

.customcontainer{
display:table; 
width: 100%;
}

.customtable{
text-align: center; 
alignment-adjust: central;
}



.page_header{
	padding-bottom: 30px;
}

.custombtn{
	height:150px;
}



.customglyphicon{
    font-size: 50px;
}



td:hover{
	cursor:hand;
}

.customfooter {
	margin-bottom:0 !important;
}

.customthead{
	background-color:lightgrey;
}

#labelDeleteItem{
	text-align: center;
}
.customaddbtn{
	margin-bottom:10px;
}
.customdiv{
	padding-right: 15px;
	
}



